{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <html>
    {% if app.user %}
    Voici votre profil
        <a class="underline bg-red" href="/logout">Se deconnecter</a>
    {% else %}
    {% if error %}
                   <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}
    <section class="relative w-screen h-screen">
        <div class="absolute inset-0 z-0 bg-center bg-cover bg-auth grayscale"></div>

        <div class="absolute space-x-2 text-xs font-bold -translate-x-1/2 md:hidden bottom-4 left-1/2 text-gray-50">
            <a href="">Politiques</a>
            <a href="">Terms</a>
            <a href="">Conditions</a>
        </div>

        <div class="h-full overflow-scroll">
            <div class="relative z-10 grid w-full min-h-full py-6 place-content-center">
                <div class="flex flex-row md:w-[760px] xl:w-[1008px] bg-white rounded-lg overflow-hidden">
                    <section class="hidden md:block md:w-1/2 bg-[#0099A6]">
                        <div class="relative flex items-center justify-center w-full h-full">
                            <div class="w-[300px] mx-auto space-y-4 p-6 text-gray-50">
                                <h2 class="text-2xl font-extrabold text-center">Hello</h2>
                                <p class="text-sm leading-tight text-center">
                                    Bienvenue sur le site E-commerce Retague.
                                </p>
                                <div class="absolute space-x-2 text-xs font-bold -translate-x-1/2 bottom-4 left-1/2">
                                    <a href="">Politiques</a>
                                    <a href="">Terms</a>
                                    <a href="">Conditions</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="w-[300px] md:w-1/2 border bg-gray-50">
                        <div class="w-[300px] mx-auto space-y-6 p-6">
                            <div class="text-[#002B2F] text-center w-full">
                                <a href="/" class="inline-block h-[40px]">
                                    <!-- Logo if necessary -->
                                </a>
                            </div>

                            <h2 class="sr-only">Connexion</h2>
                            <p class="text-xs font-light text-center">Connectez-vous avec:</p>

                            <div class="flex items-center justify-center gap-4">
                                <a href="/login/google" class="inline-flex items-center justify-center w-12 h-12 rounded-md shadow-oauthBtn">
                                    <span class="inline-block w-6 h-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full fill-current" viewBox="0 0 24 24">
                                            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                <path d="M0 0h24v24H0z" />
                                                <path fill="currentColor" d="M12 2a9.96 9.96 0 0 1 6.29 2.226a1 1 0 0 1 .04 1.52l-1.51 1.362a1 1 0 0 1-1.265.06a6 6 0 1 0 2.103 6.836l.001-.004h-3.66a1 1 0 0 1-.992-.883L13 13v-2a1 1 0 0 1 1-1h6.945a1 1 0 0 1 .994.89c.04.367.061.737.061 1.11c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2" />
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>

                            <p class="text-xs font-light text-center">ou vos identifiants</p>

                            <!-- Début du formulaire -->
                            <form action="{{ path('app_login') }}" method="post">
                                
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <!-- Email -->
                                <div class="relative">
                                    <span class="absolute block w-3 h-3 -translate-y-1/2 top-1/2 left-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full fill-current" viewBox="0 0 512 512">
                                            <path d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256v32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32v80 32c0 17.7 14.3 32 32 32s32-14.3 32-32V256c0-106-86-192-192-192zm64 192a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z" />
                                        </svg>
                                    </span>
                                    <div class="relative">
                                        <input type="email" name="_username" id="username" value="{{ last_username }}" class="w-full h-10 px-5 py-2 text-xs bg-transparent border rounded-md peer" placeholder=" " required autocomplete="email" autofocus />
                                        <label for="username" class="absolute text-xs transition-opacity duration-300 transform -translate-y-1/2 left-5 top-1/2 peer-placeholder-shown:opacity-100 peer-placeholder-shown:translate-y-0 peer-focus:opacity-0 peer-focus:-translate-y-1/2">

                                        </label>
                                    </div>



                                </div>

                                <!-- Mot de passe -->
                                <div class="relative">
                                    <span class="absolute block w-3 h-3 -translate-y-1/2 top-1/2 left-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full fill-current" viewBox="0 0 448 512">
                                            <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                                        </svg>
                                    </span>
                                    <div class="relative">
                                        <input type="password" name="_password" id="password" class="w-full h-10 px-5 py-2 text-xs bg-transparent border rounded-md peer" placeholder=" " required autocomplete="current-password" />
                                        <label for="password" class="absolute text-xs transition-opacity duration-300 transform -translate-y-1/2 left-5 top-1/2 peer-placeholder-shown:opacity-100 peer-placeholder-shown:translate-y-0 peer-focus:opacity-0 peer-focus:-translate-y-1/2">
                                        </label>
                                    </div>


                                    <button type="button" class="absolute w-4 h-4 -translate-y-1/2 right-1 top-1/2 togglePasswordVisibility">
                                        <span class="inline-block w-4 h-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full fill-current" viewBox="0 -960 960 960">
                                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 222q118 0 217-67t163-175q-58-108-157-175T480-770q-118 0-217 67T100-528q58 108 157 175t223 67Z" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>

                                <!-- Connexion et options -->
                                <div class="relative flex justify-between text-xs font-light">
                                    <label for="remember_me" class="flex items-center gap-2">
                                        <input type="checkbox" name="_remember_me" id="remember_me" />
                                        Se souvenir de moi
                                    </label>

                                </div>

                                <!-- Bouton de connexion -->
                                <div>
                                    <button type="submit" class="w-full h-10 text-xs font-bold text-white bg-[#0099A6] rounded-md">
                                        Connexion
                                    </button>
                                </div>
                            </form>

                            <!-- Redirection vers la création de compte -->
                            <div class="w-full text-center">
                                <a href="{{ path('app_register') }}" class="inline-block text-xs font-light">Je n'ai pas de compte</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    </html>
    {% endif %}

{% endblock %}
