{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Product</h1>


    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        {{ form_errors(form.price) }}
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}




{% endblock %}